{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Лучший магазин ключей игр</h1>
      <h3 class="fw-normal text-muted mb-3">Если хотите приобрести, переходите по кнопке ниже</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" href="{% url 'tovar' %}">
          Покупай!!!!!!!!
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">История магазина</h2>
        <p class="lead">Однажды в кипящем городе существовало волшебное магазин игровых ключей под названием GameStore 🎮. Этот магазин был не просто магазином, а настоящим кладовищем для геймеров всех возрастов и происхождений.</p>

 <p class="lead">GameStore управлялся таинственным волшебником по имени Гарри Геймман 🧙‍♂️. Гарри был страстным геймером и знал все об играх, волшебства которых он делился со своими покупателями.</p>

 <p class="lead">В магазине GameStore геймеры могли приобрести ключи к самым популярным играм, от захватывающих приключений до многопользовательских онлайн-игр. 🗝️🕹️ Каждый ключ открывал дверь в увлекательный мир виртуальных приключений, где можно было стать героем своей собственной истории.</p>

 <p class="lead">С каждым клиентом Гарри делился не только ключами, но и советами по играм, создавая в магазине атмосферу дружелюбия и веселья. Когда геймеры покидали GameStore, у них в руках были не просто ключи к играм, а билеты в мир фантазии и приключений.</p>

 <p class="lead">GameStore стал не просто магазином, а местом, где люди могли встретиться, поделиться своими историями и обсудить последние новинки игровой индустрии. 🎮🔑 И хотя время шло, а новые игры появлялись на горизонте, GameStore оставался местом, где дух игровой страсти и волшебства жил вечно. 🌟🎮</p>
      </div>
    </main>
{% endblock %}