{% extends 'main/base.html' %}

{% block title %}
Новости
{% endblock %}

{% block content %}
     <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <img src="https://sun152-1.userapi.com/impg/nbGc6etyNzo92bGMveTeSs74nxC2KnVUQwNfLg/Diq3yflC12A.jpg?size=960x1280&quality=96&sign=e5d4a79a5c2bee3ff836800c8e382db2&type=album" class="d-block w-50 h-50" alt="...">
        <h2 class="fw-normal"></h2>
        <p>Хозяин сайта</p>
      </div>
      <div class="col-lg-4">
        <img src=" https://sun9-52.userapi.com/impf/c851220/v851220682/161119/2ybI-voP594.jpg?size=720x960&quality=96&sign=defcad0b7b4ee6aea8839969defe7bea&type=album" class="d-block w-50 h-50" alt="...">
        <h2 class="fw-normal"></h2>
        <p>Безопасник сайта</p>
      </div>
      <div class="col-lg-4">
        <img src="https://sun9-20.userapi.com/impf/c851228/v851228275/e03e8/RFRC-q-j4Ig.jpg?size=960x1280&quality=96&sign=bf6a5d2212a3b293524b44b1db6eb36f&type=album" class="d-block w-50 h-50" alt="...">
          <h2 class="fw-normal"></h2>
        <p>Дизайнер сайта</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">  </span></h2>
        <p class="lead">День Рождения организации приходится на 01.01.2021, в эту дату мы вводим акции на товары</p>
      </div>
      <div class="col-md-5">
          <img src="https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666235104_33-mykaleidoscope-ru-p-otkritki-dlya-alini-s-dnem-rozhdeniya-oboi-35.jpg" class="d-block w-100 h-100" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary"> </span></h2>
        <p class="lead">По праздникам мы убираем акции и вводим дополнительный налог на покупку)</p>
      </div>
      <div class="col-md-5 order-md-1">
                  <img src="https://u.9111s.ru/uploads/202303/09/4db20d722269068c7ff5aac72c9dd8eb.jpg" class="d-block w-100 h-100" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary">  </span></h2>
        <p class="lead">Изменения смотрите в каталоге товары</p>
      </div>
      <div class="col-md-5">
        <img src="https://sun6-22.userapi.com/impg/sjIER-h2iN1XGChZtfCw2U49qPaQ3U1-M7XrNw/f3XgI-RU9oY.jpg?size=705x705&quality=96&sign=5b2e519514d5906a51d555669ba738d1&c_uniq_tag=2GYFIP5p6eoOKGX69oRsSdIyoIiZALEb0QKWt1NfO6M&type=album" class="d-block w-100 h-50" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">



  </div>



{% endblock %}